<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WIZ_TAG</key>
	<dict>
		<key>TAG_GUID</key>
		<string>char(36)</string>
		<key>TAG_PARENT_GUID</key>
		<string>char(36)</string>
		<key>TAG_NAME</key>
		<string>varchar(150)</string>
		<key>TAG_DESCRIPTION</key>
		<string>varchar(600)</string>
		<key>LOCALCHANGED</key>
		<string>long</string>
		<key>DT_MODIFIED</key>
		<string>char(19)</string>
		<key>PRIMARAY_KEY</key>
		<string>TAG_GUID</string>
	</dict>
	<key>WIZ_META</key>
	<dict>
		<key>PRIMARAY_KEY</key>
		<string>META_NAME, META_KEY</string>
		<key>META_NAME</key>
		<string>varchar(50)</string>
		<key>META_KEY</key>
		<string>varchar(50)</string>
		<key>META_VALUE</key>
		<string>varchar(3000)</string>
	</dict>
	<key>WIZ_LOCATION</key>
	<dict>
		<key>LOCALCHANGED</key>
		<string>int</string>
		<key>DOCUMENT_LOCATION</key>
		<string>CHAR(255)</string>
		<key>FOLDER_POS</key>
		<string>int</string>
		<key>PRIMARAY_KEY</key>
		<string>DOCUMENT_LOCATION</string>
	</dict>
	<key>WIZ_DOCUMENT_ATTACHMENT</key>
	<dict>
		<key>ATTACHMENT_GUID</key>
		<string>char(36)</string>
		<key>DOCUMENT_GUID</key>
		<string>char(36)</string>
		<key>ATTACHMENT_NAME</key>
		<string>varchar(768)</string>
		<key>ATTACHMENT_DATA_MD5</key>
		<string>char(32)</string>
		<key>ATTACHMENT_DESCRIPTION</key>
		<string>varchar(1000)</string>
		<key>DT_MODIFIED</key>
		<string>char(19)</string>
		<key>SERVER_CHANGED</key>
		<string>int</string>
		<key>LOCAL_CHANGED</key>
		<string>int</string>
		<key>PRIMARAY_KEY</key>
		<string>ATTACHMENT_GUID</string>
	</dict>
	<key>WIZ_DELETED_GUID</key>
	<dict>
		<key>PRIMARAY_KEY</key>
		<string>DELETED_GUID</string>
		<key>DELETED_GUID</key>
		<string>char(36) </string>
		<key>GUID_TYPE</key>
		<string>int</string>
		<key>DT_DELETED</key>
		<string>char(19)</string>
	</dict>
	<key>WIZ_KM_USER</key>
	<dict>
		<key>WIZ_KM_USER_GUID</key>
		<string>char(38)</string>
		<key>WIZ_KM_USER_ID</key>
		<string>varchar(128)</string>
		<key>WIZ_KM_USER_ALIAS</key>
		<string>varchar(128)</string>
		<key>WIZ_KM_USER_PINYIN</key>
		<string>varchar(128)</string>
		<key>PRIMARAY_KEY</key>
		<string>WIZ_KM_USER_GUID</string>
	</dict>
	<key>WIZ_DOCUMENT</key>
	<dict>
		<key>PRIMARAY_KEY</key>
		<string>DOCUMENT_GUID</string>
		<key>DOCUMENT_GUID</key>
		<string>varchar(36)  </string>
		<key>DOCUMENT_TITLE</key>
		<string>varchar(768) </string>
		<key>DOCUMENT_LOCATION</key>
		<string>varchar(768)</string>
		<key>DOCUMENT_URL</key>
		<string>varchar(2048)</string>
		<key>DOCUMENT_TAG_GUIDS </key>
		<string>varchar(2048)</string>
		<key>DOCUMENT_TYPE</key>
		<string>varchar(20)</string>
		<key>DOCUMENT_FILE_TYPE</key>
		<string>varchar(20)</string>
		<key>DT_CREATED</key>
		<string>char(19)</string>
		<key>DT_MODIFIED</key>
		<string>char(19)</string>
		<key>DOCUMENT_ATTACHEMENT_COUNT</key>
		<string>int</string>
		<key>DOCUMENT_DATA_MD5</key>
		<string>char(32)</string>
		<key>ATTACHMENT_COUNT</key>
		<string>int</string>
		<key>SERVER_CHANGED</key>
		<string>int</string>
		<key>LOCAL_CHANGED</key>
		<string>int</string>
		<key>GPS_LATITUDE</key>
		<string>real</string>
		<key>GPS_LONGTITUDE</key>
		<string>real</string>
		<key>GPS_ALTITUDE</key>
		<string>real</string>
		<key>GPS_DOP</key>
		<string>real</string>
		<key>GPS_ADDRESS</key>
		<string>varchar(100)</string>
		<key>GPS_COUNTRY</key>
		<string>varchar(100)</string>
		<key>GPS_DESCRIPTION</key>
		<string>varchar(500)</string>
		<key>GPS_LEVEL1</key>
		<string>varchar(100)</string>
		<key>GPS_LEVEL2</key>
		<string>varchar(100)</string>
		<key>GPS_LEVEL3</key>
		<string>varchar(100)</string>
		<key>KEYWORDS</key>
		<string>varchar(500)</string>
		<key>READCOUNT</key>
		<string>int</string>
		<key>OWNER</key>
		<string>varchar(50)</string>
		<key>PROTECT</key>
		<string>int</string>
		<key>SERVER_VERSION</key>
		<string>int64</string>
		<key>VIEW_POS</key>
		<string>int</string>
		<key>EDIT_TYPE</key>
		<string>int</string>
		<key>DT_DATA_MODIFIED</key>
		<string>char(19)</string>
		<key>DOCUMENT_DT_VIEWED</key>
		<string>char(19)</string>
	</dict>
	<key>WIZ_DOCUMENT_PARAM</key>
	<dict>
		<key>DOCUMENT_GUID</key>
		<string>char(36)</string>
		<key>PARAM_NAME</key>
		<string>varchar(50)</string>
		<key>PARAM_VALUE</key>
		<string>varchar(3000)</string>
		<key>VERSION</key>
		<string>int </string>
		<key>LOCAL_CHANGED</key>
		<string>int</string>
		<key>PRIMARAY_KEY</key>
		<string>DOCUMENT_GUID, PARAM_NAME</string>
	</dict>
	<key>WIZ_DOCUMENT_FAVOR</key>
	<dict>
		<key>DOCUMENT_GUID</key>
		<string>char(36)</string>
		<key>FAVOR_VALUE</key>
		<string>int</string>
		<key>SERVER_CHANGED</key>
		<string>int</string>
	</dict>
</dict>
</plist>
