<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WizThemeDefault</key>
	<dict>
		<key>WIZ_THEME_COLOR</key>
		<string>448aff</string>
		<key>WIZ_DEFAULT_THEME COLOR</key>
		<string>448aff</string>
		<key>WIZ_BACKGROUND_COLOR</key>
		<string>f4f7fa</string>
		<key>WIZ_NOTE_BACKGROUND_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_NOTE_TEXT_COLOR</key>
		<string>353c47</string>
		<key>WIZ_TEXT_COLOR</key>
		<string>353c47</string>
		<key>WIZ_DISABLE_TEXT_COLOR</key>
		<string>9fa5af</string>
		<key>WIZ_NAVIGATIONBAR_COLOR</key>
		<string>448aff</string>
		<key>WIZ_NAVIGATIONBAR_TINT_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_SEPARATOR_COLOR</key>
		<string>448aff33</string>
		<key>WIZ_GRAY_TEXT_COLOR</key>
		<string>8f96a3</string>
		<key>WIZ_TIPS_BACKGROUND_COLOR</key>
		<string>f4f7fa</string>
		<key>WIZ_TIPS_TEXT_COLOR</key>
		<string>b3c2dd</string>
		<key>WIZ_CELL_BACKGROUND_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_CELL_HIGHLIGHT_COLOR</key>
		<string>e8f0fb</string>
		<key>WIZ_TABBAR_BACKGROUND_COLOR</key>
		<string>e8effaf2</string>
		<key>WIZ_TABBAR_SHADOW_COLOR</key>
		<string>b2b2b2</string>
		<key>WIZ_POPUPBAR_BACKGROUND</key>
		<string>ffffff</string>
		<key>WIZ_TREE_ROOTCELL_BACKGROUND_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_TREE_CHILDCELL_BACKGROUND_COLOR</key>
		<string>f4f7fa</string>
		<key>WIZ_GRID_LIST_BACKGROUND_COLOR</key>
		<string>e6ebf5</string>
		<key>WIZ_MASK_COLOR</key>
		<string>0000004b</string>
		<key>WIZ_STATUS_BAR_TEXT_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_PAD_SEARCH_TEXTFEILD_BACKGROUND_COLOR</key>
		<string>ffffff</string>
	</dict>
	<key>WizThemeNightMode</key>
	<dict>
		<key>WIZ_THEME_COLOR</key>
		<string>448aff</string>
		<key>WIZ_DEFAULT_THEME COLOR</key>
		<string>353c47</string>
		<key>WIZ_BACKGROUND_COLOR</key>
		<string>1a1b1e</string>
		<key>WIZ_NOTE_BACKGROUND_COLOR</key>
		<string>1f2126</string>
		<key>WIZ_NOTE_TEXT_COLOR</key>
		<string>7990b6</string>
		<key>WIZ_TEXT_COLOR</key>
		<string>7990b6</string>
		<key>WIZ_DISABLE_TEXT_COLOR</key>
		<string>9fa5af</string>
		<key>WIZ_NAVIGATIONBAR_COLOR</key>
		<string>353c47</string>
		<key>WIZ_NAVIGATIONBAR_TINT_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_SEPARATOR_COLOR</key>
		<string>448aff33</string>
		<key>WIZ_GRAY_TEXT_COLOR</key>
		<string>536178</string>
		<key>WIZ_TIPS_BACKGROUND_COLOR</key>
		<string>1a1b1e</string>
		<key>WIZ_TIPS_TEXT_COLOR</key>
		<string>536178</string>
		<key>WIZ_CELL_BACKGROUND_COLOR</key>
		<string>1f2126</string>
		<key>WIZ_CELL_HIGHLIGHT_COLOR</key>
		<string>292b32</string>
		<key>WIZ_TABBAR_BACKGROUND_COLOR</key>
		<string>2d343ef2</string>
		<key>WIZ_TABBAR_SHADOW_COLOR</key>
		<string>353c47</string>
		<key>WIZ_POPUPBAR_BACKGROUND</key>
		<string>32353e</string>
		<key>WIZ_TREE_ROOTCELL_BACKGROUND_COLOR</key>
		<string>1f2126</string>
		<key>WIZ_TREE_CHILDCELL_BACKGROUND_COLOR</key>
		<string>1a1b1e</string>
		<key>WIZ_GRID_LIST_BACKGROUND_COLOR</key>
		<string>000000</string>
		<key>WIZ_MASK_COLOR</key>
		<string>ffffff1a</string>
		<key>WIZ_STATUS_BAR_TEXT_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_PAD_SEARCH_TEXTFEILD_BACKGROUND_COLOR</key>
		<string>ffffff</string>
	</dict>
	<key>WizThemeBlack</key>
	<dict>
		<key>WIZ_THEME_COLOR</key>
		<string>448aff</string>
		<key>WIZ_DEFAULT_THEME COLOR</key>
		<string>448aff</string>
		<key>WIZ_BACKGROUND_COLOR</key>
		<string>f4f7fa</string>
		<key>WIZ_NOTE_BACKGROUND_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_NOTE_TEXT_COLOR</key>
		<string>353c47</string>
		<key>WIZ_TEXT_COLOR</key>
		<string>353c47</string>
		<key>WIZ_DISABLE_TEXT_COLOR</key>
		<string>9fa5af</string>
		<key>WIZ_NAVIGATIONBAR_COLOR</key>
		<string>303236</string>
		<key>WIZ_NAVIGATIONBAR_TINT_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_SEPARATOR_COLOR</key>
		<string>448aff33</string>
		<key>WIZ_GRAY_TEXT_COLOR</key>
		<string>8f96a3</string>
		<key>WIZ_TIPS_BACKGROUND_COLOR</key>
		<string>f4f7fa</string>
		<key>WIZ_TIPS_TEXT_COLOR</key>
		<string>b3c2dd</string>
		<key>WIZ_CELL_BACKGROUND_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_CELL_HIGHLIGHT_COLOR</key>
		<string>e8f0fb</string>
		<key>WIZ_TABBAR_BACKGROUND_COLOR</key>
		<string>e8effaf2</string>
		<key>WIZ_TABBAR_SHADOW_COLOR</key>
		<string>b2b2b2</string>
		<key>WIZ_POPUPBAR_BACKGROUND</key>
		<string>ffffff</string>
		<key>WIZ_TREE_ROOTCELL_BACKGROUND_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_TREE_CHILDCELL_BACKGROUND_COLOR</key>
		<string>f4f7fa</string>
		<key>WIZ_GRID_LIST_BACKGROUND_COLOR</key>
		<string>e6ebf5</string>
		<key>WIZ_MASK_COLOR</key>
		<string>0000004b</string>
		<key>WIZ_STATUS_BAR_TEXT_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_PAD_SEARCH_TEXTFEILD_BACKGROUND_COLOR</key>
		<string>ffffff</string>
	</dict>
	<key>WizThemeWhite</key>
	<dict>
		<key>WIZ_THEME_COLOR</key>
		<string>448aff</string>
		<key>WIZ_DEFAULT_THEME COLOR</key>
		<string>448aff</string>
		<key>WIZ_BACKGROUND_COLOR</key>
		<string>f4f7fa</string>
		<key>WIZ_NOTE_BACKGROUND_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_NOTE_TEXT_COLOR</key>
		<string>353c47</string>
		<key>WIZ_TEXT_COLOR</key>
		<string>353c47</string>
		<key>WIZ_DISABLE_TEXT_COLOR</key>
		<string>9fa5af</string>
		<key>WIZ_NAVIGATIONBAR_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_NAVIGATIONBAR_TINT_COLOR</key>
		<string>353c47</string>
		<key>WIZ_SEPARATOR_COLOR</key>
		<string>448aff33</string>
		<key>WIZ_GRAY_TEXT_COLOR</key>
		<string>8f96a3</string>
		<key>WIZ_TIPS_BACKGROUND_COLOR</key>
		<string>f4f7fa</string>
		<key>WIZ_TIPS_TEXT_COLOR</key>
		<string>b3c2dd</string>
		<key>WIZ_CELL_BACKGROUND_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_CELL_HIGHLIGHT_COLOR</key>
		<string>e8f0fb</string>
		<key>WIZ_TABBAR_BACKGROUND_COLOR</key>
		<string>e8effaf2</string>
		<key>WIZ_TABBAR_SHADOW_COLOR</key>
		<string>b2b2b2</string>
		<key>WIZ_POPUPBAR_BACKGROUND</key>
		<string>ffffff</string>
		<key>WIZ_TREE_ROOTCELL_BACKGROUND_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_TREE_CHILDCELL_BACKGROUND_COLOR</key>
		<string>f4f7fa</string>
		<key>WIZ_GRID_LIST_BACKGROUND_COLOR</key>
		<string>e6ebf5</string>
		<key>WIZ_MASK_COLOR</key>
		<string>0000004b</string>
		<key>WIZ_STATUS_BAR_TEXT_COLOR</key>
		<string>000000</string>
		<key>WIZ_PAD_SEARCH_TEXTFEILD_BACKGROUND_COLOR</key>
		<string>f4f7fa</string>
	</dict>
	<key>WizThemeUniverse</key>
	<dict>
		<key>WIZ_THEME_COLOR</key>
		<string>448aff</string>
		<key>WIZ_DEFAULT_THEME COLOR</key>
		<string>448aff</string>
		<key>WIZ_BACKGROUND_COLOR</key>
		<string>f4f7fa</string>
		<key>WIZ_NOTE_BACKGROUND_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_NOTE_TEXT_COLOR</key>
		<string>353c47</string>
		<key>WIZ_TEXT_COLOR</key>
		<string>353c47</string>
		<key>WIZ_DISABLE_TEXT_COLOR</key>
		<string>9fa5af</string>
		<key>WIZ_NAVIGATIONBAR_COLOR</key>
		<string>448aff</string>
		<key>WIZ_NAVIGATIONBAR_TINT_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_SEPARATOR_COLOR</key>
		<string>448aff33</string>
		<key>WIZ_GRAY_TEXT_COLOR</key>
		<string>8f96a3</string>
		<key>WIZ_TIPS_BACKGROUND_COLOR</key>
		<string>f4f7fa</string>
		<key>WIZ_TIPS_TEXT_COLOR</key>
		<string>b3c2dd</string>
		<key>WIZ_CELL_BACKGROUND_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_CELL_HIGHLIGHT_COLOR</key>
		<string>e8f0fb</string>
		<key>WIZ_TABBAR_BACKGROUND_COLOR</key>
		<string>e8effaf2</string>
		<key>WIZ_TABBAR_SHADOW_COLOR</key>
		<string>b2b2b2</string>
		<key>WIZ_POPUPBAR_BACKGROUND</key>
		<string>ffffff</string>
		<key>WIZ_TREE_ROOTCELL_BACKGROUND_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_TREE_CHILDCELL_BACKGROUND_COLOR</key>
		<string>f4f7fa</string>
		<key>WIZ_GRID_LIST_BACKGROUND_COLOR</key>
		<string>e6ebf5</string>
		<key>WIZ_MASK_COLOR</key>
		<string>0000004b</string>
		<key>WIZ_STATUS_BAR_TEXT_COLOR</key>
		<string>ffffff</string>
		<key>WIZ_PAD_SEARCH_TEXTFEILD_BACKGROUND_COLOR</key>
		<string>ffffff</string>
	</dict>
</dict>
</plist>
