<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WIZ_SEARCH_1</key>
	<dict>
		<key>ACCOUNTUSERID</key>
		<string>varchar(200)</string>
		<key>COUNT</key>
		<string>int</string>
		<key>DATE</key>
		<string>char(19)</string>
		<key>KBGUID</key>
		<string>varchar(100)</string>
		<key>KEYWORDS</key>
		<string>varchar(400)</string>
		<key>FOLDER</key>
		<string>varchar(200)</string>
		<key>TAGGUIDS</key>
		<string>varchar(400)</string>
		<key>TYPE</key>
		<string>int</string>
	</dict>
	<key>WIZ_ABSTRACT</key>
	<dict>
		<key>ABSTRACT_GUID</key>
		<string>char(36) </string>
		<key>ABSTRACT_TYPE</key>
		<string>varchar(50)</string>
		<key>ABSTRACT_TEXT</key>
		<string>varchar(3000)</string>
		<key>ABSTRACT_IMAGE</key>
		<string>blob</string>
		<key>DT_MODIFIED</key>
		<string>char(19)</string>
		<key>GROUP_KBGUID</key>
		<string>char(36)</string>
		<key>PRIMARAY_KEY</key>
		<string>ABSTRACT_GUID</string>
	</dict>
	<key>WIZ_MESSAGE</key>
	<dict>
		<key>MESSAGE_ID</key>
		<string>int64</string>
		<key>MESSAGE_BIZ_GUID</key>
		<string>char(38)</string>
		<key>MESSAGE_KB_GUID</key>
		<string>char(38)</string>
		<key>MESSAGE_DOCUMENT_GUID</key>
		<string>char(38)</string>
		<key>MESSAGE_TITLE</key>
		<string>varchar(768)</string>
		<key>MESSAGE_SENDER_GUID</key>
		<string>char(38)</string>
		<key>MESSAGE_SENDER_ID</key>
		<string>varchar(128)</string>
		<key>MESSAGE_SENDER_ALIAS</key>
		<string>varchar(32)</string>
		<key>MESSAGE_RECEIVER_GUID</key>
		<string>char(38)</string>
		<key>MESSAGE_RECEIVER_ID</key>
		<string>varchar(128)</string>
		<key>MESSAGE_RECEIVER_ALIAS</key>
		<string>char(38)</string>
		<key>MESSAGE_MESSAGE_TYPE</key>
		<string>int64</string>
		<key>MESSAGE_EMAIL_STATUS</key>
		<string>int64</string>
		<key>MESSAGE_SMS_STATUS</key>
		<string>int64</string>
		<key>MESSAGE_READ_STATUS</key>
		<string>int64</string>
		<key>MESSAGE_DT_CREATED</key>
		<string>char(19)</string>
		<key>MESSAGE_BODY</key>
		<string>varchar(1024)</string>
		<key>MESSAGE_NOTE</key>
		<string>varchar(256)</string>
		<key>DELETE_STATUS</key>
		<string>int</string>
		<key>LOCALCHANGED</key>
		<string>int</string>
		<key>PRIMARAY_KEY</key>
		<string>MESSAGE_ID</string>
	</dict>
	<key>WIZ_BIZ_USER</key>
	<dict>
		<key>WIZ_BIZ_USER_ID</key>
		<string>varchar(128)</string>
		<key>WIZ_BIZ_USER_ALIAS</key>
		<string>varchar(128)</string>
		<key>WIZ_BIZ_USER_PINYIN</key>
		<string>varchar(256)</string>
		<key>WIZ_BIZ_USER_GUID</key>
		<string>char(38)</string>
		<key>WIZ_BIZ_USER_BIZGUID</key>
		<string>char(38)</string>
		<key>PRIMARAY_KEY</key>
		<string>WIZ_BIZ_USER_GUID,WIZ_BIZ_USER_BIZGUID</string>
	</dict>
	<key>WIZ_META</key>
	<dict>
		<key>PRIMARAY_KEY</key>
		<string>META_NAME, META_KEY</string>
		<key>META_NAME</key>
		<string>varchar(50)</string>
		<key>META_KEY</key>
		<string>varchar(50)</string>
		<key>META_VALUE</key>
		<string>varchar(3000)</string>
	</dict>
	<key>WIZ_SHORTCUTS</key>
	<dict>
		<key>PRIMARAY_KEY</key>
		<string>SHORTCUT_USERGUID , SHORTCUT_KEY</string>
		<key>SHORTCUT_KEY</key>
		<string>varchar(36)  </string>
		<key>SHORTCUT_TYPE</key>
		<string>int</string>
		<key>SHORTCUT_KBGUID</key>
		<string>varchar(36)  </string>
		<key>SHORTCUT_USERGUID</key>
		<string>varchar(40)</string>
		<key>SHORTCUT_TITLE</key>
		<string>varchar(800)</string>
		<key>SHORTCUT_STATE</key>
		<string>int</string>
	</dict>
	<key>WIZ_REMIND_TASK</key>
	<dict>
		<key>PRIMARAY_KEY</key>
		<string>TASK_ID</string>
		<key>TASK_ID</key>
		<string>bigint(20)</string>
		<key>TASK_KB_GUID</key>
		<string>varchar(36)</string>
		<key>TASK_DOC_GUID</key>
		<string>varchar(36)</string>
		<key>TASK_CREATOR_GUID</key>
		<string>varchar(36)</string>
		<key>TASK_RECEIVER_GUID</key>
		<string>varchar(36)</string>
		<key>TASK_REPEAT_TYPE</key>
		<string>int</string>
		<key>TASK_REMIND_MONTH</key>
		<string>int</string>
		<key>TASK_REMIND_DAY</key>
		<string>int</string>
		<key>TASK_REMIND_TIME</key>
		<string>char(19)</string>
		<key>TASK_NEXT_REMIND_TIME</key>
		<string>char(19)</string>
		<key>DATE_CREATED</key>
		<string>char(19)</string>
		<key>TASK_STATUS</key>
		<string>int</string>
		<key>DOC_OWNER_GUID</key>
		<string>varchar(36)</string>
		<key>TASK_LOCALCHANGED</key>
		<string>int</string>
		<key>TASK_DOC_TITLE</key>
		<string>varchar(768)</string>
	</dict>
	<key>WIZ_REMIND_RECORD</key>
	<dict>
		<key>PRIMARAY_KEY</key>
		<string>RECORD_ID</string>
		<key>RECORD_ID</key>
		<string>bigint(20)</string>
		<key>TASK_ID</key>
		<string>bigint(20)</string>
		<key>RECORD_KB_GUID</key>
		<string>varchar(36)</string>
		<key>RECORD_DOC_GUID</key>
		<string>varchar(36)</string>
		<key>RECORD_CREATOR_GUID</key>
		<string>varchar(36)</string>
		<key>RECORD_RECEIVER_GUID</key>
		<string>varchar(36)</string>
		<key>RECORD_REMIND_TIME</key>
		<string>char(19)</string>
		<key>RECORD_FINISH_TIME</key>
		<string>char(19)</string>
		<key>RECORD_STATUS</key>
		<string>int</string>
		<key>RECODE_LOCALCHANGED</key>
		<string>int</string>
		<key>RECORD_DOC_TITLE</key>
		<string>varchar(768)</string>
	</dict>
</dict>
</plist>
