<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WIZ_SEARCH_1</key>
	<dict>
		<key>ACCOUNTUSERID</key>
		<string>varchar(200)</string>
		<key>COUNT</key>
		<string>int</string>
		<key>DATE</key>
		<string>char(19)</string>
		<key>KBGUID</key>
		<string>varchar(100)</string>
		<key>KEYWORDS</key>
		<string>varchar(400)</string>
		<key>FOLDER</key>
		<string>varchar(200)</string>
		<key>TAGGUIDS</key>
		<string>varchar(400)</string>
		<key>TYPE</key>
		<string>int</string>
	</dict>
	<key>WIZ_ABSTRACT</key>
	<dict>
		<key>ABSTRACT_GUID</key>
		<string>char(36) </string>
		<key>ABSTRACT_TYPE</key>
		<string>varchar(50)</string>
		<key>ABSTRACT_TEXT</key>
		<string>varchar(3000)</string>
		<key>ABSTRACT_IMAGE</key>
		<string>blob</string>
		<key>DT_MODIFIED</key>
		<string>char(19)</string>
		<key>GROUP_KBGUID</key>
		<string>char(36)</string>
		<key>PRIMARAY_KEY</key>
		<string>ABSTRACT_GUID</string>
	</dict>
	<key>WIZ_META</key>
	<dict>
		<key>PRIMARAY_KEY</key>
		<string>META_NAME, META_KEY</string>
		<key>META_NAME</key>
		<string>varchar(50)</string>
		<key>META_KEY</key>
		<string>varchar(50)</string>
		<key>META_VALUE</key>
		<string>varchar(3000)</string>
	</dict>
</dict>
</plist>
